[Desktop Entry]
Type=Application
Exec=shutter
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Shutter Autocreated
Name=Shutter Autocreated
Comment[en_US]=Shutter Autocreated
Comment=Shutter Autocreated
